table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid rgb(8, 8, 8);
    text-align: center
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 30%;
  }
  
  thead th:nth-child(3) {
    width: 30%;
  }
  
  thead th:nth-child(4) {
    width: 30%;
  }
  thead th:nth-child(5) {
    width: 30%;
  }
  thead th:nth-child(6) {
    width: 30%;
  }
  thead th:nth-child(7) {
    width: 30%;
  }
  thead th:nth-child(8) {
    width: 30%;
  }
  th, td {
    padding: 20px;
  }
  html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }
  tbody tr:nth-child(odd) {
    background-color: #9e989c;
  }
  
  tbody tr:nth-child(even) {
    background-color: #c5bfc5;
  }
  
  tbody tr {
    background-image: url(noise.png);
  }
  
  table {
    background-color: #817b80;
  }